# This repository contains intentionally flawed code for teaching technical debt.
# These libraries and their associated versions below are NOT USED
# This file is for teaching purposes only
pyodbc==4.0.30
pandas>=1.1
numpy==1.18.5
sqlalchemy==1.4.*
python-dotenv
requests==2.26.0
